<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" media="screen" />
    <title>Login - Evolua</title>
</head>
<body>
    <div class="left-side">
        <h2>Login</h2>
        <p>Informe seu e-mail e senha para continuar.</p>
        <div class="form_button">
            <form action="/login" method="post">
                <input type="text" id="e-mail" name="e-mail" placeholder="E-mail" required>
                <input type="password" id="senha" name="senha" placeholder="Senha" required>
                <button type="submit">Entrar</button>
            </form>
        </div>
        <p>Não tem conta? <a href="https://www.google.com/" style="color: var(--white-primary); font-weight: 800;">Cadastrar-se</a></p>
    </div>
    <div class="right-side">
        <img src="{% static 'assets/imagem-login-right.png' %}" alt="Imagem de Login">
    </div>
</body>
</html>
