@import url("style-guide.css");

body {
    font-family: "Montserrat", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: 400; 
    font-style: normal; 
    display: flex; 
    height: 100vh; 
    padding: 0; 
    margin: 0; 
    color: var(--white-primary); 
}

.left-side {
    background: var(--primary); 
    color: var(--white-primary); 
    padding: 20px; 
    width: 130%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    

}

input {
    width: 100%; 
    padding: 18px; 
    border: 1px solid var(--white-secondary); 
    border-radius: 8px; 
    background-color: transparent; 
    color: var(--white-primary); 
    box-sizing: border-box; 
    font-size: var(--font-size-p2); 
    margin-bottom: 15px; 
}

input::placeholder {
    color: var(--white-primary); 
    opacity: 1; 
    font-family: "Montserrat", sans-serif; 
}

button {
    width: 100%; 
    padding: 8px; 
    background-color: var(--white-primary); 
    color: var(--primary); 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    font-size: var(--font-size-b2); 
    font-weight: var(--font-weight-button); 
    box-sizing: border-box; 
}

.right-side,
img {
    display: flex; 
    align-items: center; 
    height: 100%; 
    border-radius: 20px 0 0 20px; 
    opacity: 1; 
    width: 100%; 
    margin-left: -10px; 
}


#Nome, #RA{
    width: 30%;
    margin-left: 160px;
}

#Sobrenome, #Semestre{
    width: 30%;
}

.inputs-largos{
    width: 60%;
    margin-left: 160px;
}
    

