:root {
    /* Paleta de cores */
    --primary: #172F4A;
    --secondary: #0000FF;
    --black: #0D0D0D;
    --gray-primary: #606060;
    --gray-secondary: #3D3D3D;
    --white-primary: #FFFFFF;
    --white-secondary: #DCDCDC;

    /* Tamanhos e pesos para títulos */
    --font-size-h1: 46px;
    --font-weight-h1: 700;

    --font-size-h2: 36px;
    --font-weight-h2: 400;

    --font-size-h3: 22px;
    --font-weight-h3: 700;

    /* Tamanhos e pesos para botões */
    --font-size-b1: 20px;
    --font-size-b2: 18px;
    --font-weight-button: 700;

    /* Tamanhos e pesos para parágrafos */
    --font-size-p1: 20px;
    --font-size-p2: 16px;
    --font-size-p3: 14px;
    --font-weight-paragraph: 400;
}
